body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
}
.display{
    margin-top: 15%;
    margin-bottom: 5%;
    border: 5px;
    border-style: solid;
    border-color: black;
    background-color: black;
}
.buttons{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 800px;
}
.AcDel{
    display: inline;
    margin-bottom: 10px;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}